<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelTime</key>
	<integer>31</integer>
	<key>goldScore</key>
	<integer>2400</integer>
	<key>silverScore</key>
	<integer>2200</integer>
	<key>enemies</key>
	<array>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>200</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>150</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>-200</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-150</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>5</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>5</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>200</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>5</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>-150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>5</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-200</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>12</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>12</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>150</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>12</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>-150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>12</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-150</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-600</string>
			<key>positionY</key>
			<string>90</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-600</string>
			<key>positionY</key>
			<string>180</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-600</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-600</string>
			<key>positionY</key>
			<string>-90</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-600</string>
			<key>positionY</key>
			<string>-180</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-180</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-90</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>90</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>17</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>180</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
	</array>
</dict>
</plist>
