<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levelTime</key>
	<integer>61</integer>
	<key>goldScore</key>
	<integer>20000</integer>
	<key>silverScore</key>
	<integer>18000</integer>
	<key>enemies</key>
	<array>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-100</string>
			<key>positionY</key>
			<string>-100</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>100</string>
			<key>positionY</key>
			<string>100</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>100</string>
			<key>positionY</key>
			<string>-100</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>1</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-100</string>
			<key>positionY</key>
			<string>100</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-400</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>400</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>180</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-150</string>
			<key>positionY</key>
			<string>150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>150</string>
			<key>positionY</key>
			<string>-150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>pentagonEnemy</string>
			<key>positionX</key>
			<string>-250</string>
			<key>positionY</key>
			<string>-250</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>7</integer>
			<key>type</key>
			<string>pentagonEnemy</string>
			<key>positionX</key>
			<string>250</string>
			<key>positionY</key>
			<string>250</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-500</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>500</string>
			<key>positionY</key>
			<string>400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>500</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-500</string>
			<key>positionY</key>
			<string>400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-400</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>400</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>400</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-400</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>rhombEnemy</string>
			<key>positionX</key>
			<string>-400</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>rhombEnemy</string>
			<key>positionX</key>
			<string>-400</string>
			<key>positionY</key>
			<string>400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>rhombEnemy</string>
			<key>positionX</key>
			<string>400</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>15</integer>
			<key>type</key>
			<string>rhombEnemy</string>
			<key>positionX</key>
			<string>400</string>
			<key>positionY</key>
			<string>400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-150</string>
			<key>positionY</key>
			<string>-150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-150</string>
			<key>positionY</key>
			<string>150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>150</string>
			<key>positionY</key>
			<string>-150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>150</string>
			<key>positionY</key>
			<string>150</string>
			<key>isAbsolute</key>
			<false/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-400</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-300</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-200</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-100</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>0</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>100</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>200</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>300</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>400</string>
			<key>positionY</key>
			<string>420</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-90</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>-200</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>-100</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>0</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>100</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>200</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>25</integer>
			<key>type</key>
			<string>isoscelesTriangleEnemy</string>
			<key>positionX</key>
			<string>-620</string>
			<key>positionY</key>
			<string>400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>600</string>
			<key>positionY</key>
			<string>400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>500</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-600</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-500</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-600</string>
			<key>positionY</key>
			<string>400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>-500</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>600</string>
			<key>positionY</key>
			<string>-400</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>equilateralTriangleEnemy</string>
			<key>positionX</key>
			<string>500</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<true/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>100</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>100</string>
			<key>positionY</key>
			<string>150</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>100</string>
			<key>positionY</key>
			<string>-150</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>100</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-100</string>
			<key>positionY</key>
			<string>300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-180</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-100</string>
			<key>positionY</key>
			<string>150</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-180</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-100</string>
			<key>positionY</key>
			<string>-150</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-180</integer>
		</dict>
		<dict>
			<key>spawnTime</key>
			<integer>35</integer>
			<key>type</key>
			<string>rectangleEnemy</string>
			<key>positionX</key>
			<string>-100</string>
			<key>positionY</key>
			<string>-300</string>
			<key>isAbsolute</key>
			<true/>
			<key>isFacingPlayer</key>
			<false/>
			<key>angle</key>
			<integer>-180</integer>
		</dict>
	</array>
</dict>
</plist>
